/* ----------- Base ----------- */
body {
  font-family: Calibri, sans-serif;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #000000;
}

/* ----------- Header ----------- */
header {
  background-color: #005349;
  color: white;
  padding: 1rem;
  text-align: center;
}

.logo-home-link {
  display: block;
  text-align: center;
  margin: 1rem 0;
}

.logo-home-link img {
  width: 100px;
  transition: transform 0.3s ease;
}

.logo-home-link img:hover {
  transform: scale(1.1);
}

/* ----------- Formulaire employé ----------- */
form {
  background-color: #F2F2F2;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #F88379;
  color: #000000;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #000;
  color: #d96c66;
}

/* ----------- Tableaux de validation ----------- */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

/* ----------- Footer ----------- */
footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 4rem;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
  color: #F4D35E;
}

footer .logo-home-link {
  margin-bottom: 1rem;
}

footer .logo-home-link img {
  width: 80px;
  margin-bottom: 1rem;
}

.footer-buttons {
  margin-top: 1.5rem;
}

.footer-buttons p {
  margin-bottom: 1rem;
}

.btn-footer-yellow,
.btn-footer-pink {
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  margin: 0.2rem;
  text-decoration: none;
}

.btn-footer-yellow {
  background-color: #F4D35E;
  color: #000000;
}

.btn-footer-yellow:hover {
  background-color: #F4D35E;
  color: #000000;
  text-decoration: underline;
}

.btn-footer-pink {
  background-color: #F88379;
  color: #000000;
}

.btn-footer-pink:hover {
  background-color: #F88379;
  color: #000000;
  text-decoration: underline;
}
