body {
  font-family: 'Calibri', sans-serif;
  background-color:#f9f9f9 ;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size:large;
}

header {
  background-color: #005349;
  color: white;
  text-align: center;
  padding: 2rem;
}

.nav-wrapper {
  background-color: #F4D35E;
  border: 2px solid #F4D35E;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  display: inline-block;
}

.top-nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.top-nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.top-nav a:hover {
  text-decoration: underline;
}

.slogan {
  font-style: italic;
  margin-top: 5px;
}

main {
  padding: 2rem;
}

.logo-home-link {
  display: block;
  text-align: center;
  margin: 1rem 0;
}

.logo-home-link img {
  width: 100px;
  transition: transform 0.3s ease;
}

.logo-home-link img:hover {
  transform: scale(1.1);
}

h1 {
  color: white;
  text-align: center;
}

#ranch-select {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
}

#filtre-combine{
  background-color: #005349;
  color: #fff;
}
#filtre-combine:hover{
background-color: #000;
color: #F4D35E;
}

.card {
  background-color: #F4D35E;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 400px;
}
@media (max-width: 480px){
  body {
  font-family: 'Calibri', sans-serif;
  background-color:#f9f9f9 ;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size:xx-large;
}
  header {
  background-color: #005349;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size:x-large;
}
#ranch-select{
  font-size: large;
}  
}