/* #005349 #00796B #138D75 #F88379 #F66C64 #FB9893  #FFD966 #F4D35E  #F2F2F2*/
#logout-button {
  background-color: #FB9893;
  color: black;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}
#logout-button:hover {
  background-color:#F88379 ;
}

/* Couleurs principales : #005349 #F4D35E #F88379 #F2F2F2 */
body {
  font-family: 'Calibri', sans-serif;
  background-color: #F2F2F2;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: #005349;
  color: white;
  text-align: center;
  padding: 2rem;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.slogan {
  font-style: italic;
  font-size: 1rem;
  margin-top: 5px;
}

.nav-wrapper {
  background-color: #F4D35E;
  border: 2px solid #F4D35E;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  display: inline-block;
}

.top-nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.top-nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.top-nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

h2 {
  color: #005349;
}

.section {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #F2F2F2;
  border-left: 5px solid #138D75;
  border-radius: 8px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #005349;
  color: white;
}

/* Boutons */
button,
.btn {
  background-color: #FB9893;
  color: black;
  font-weight: bold;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

button:hover,
.btn:hover {
  background-color: #005349;
  color: #F4D35E;
}



/* Footer */
footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  font-size: 0.9rem;
}

footer a {
  color: #F88379;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #F4D35E;
  text-decoration: underline;
}

.footer-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Footer Buttons */
.btn-footer-yellow,
.btn-footer-pink {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.btn-footer-yellow {
  background-color: #F4D35E;
  color: #000;
}

.btn-footer-yellow:hover {
  background-color: #FFF;
  color: #000;
  transform: scale(1.05);
}

.btn-footer-pink {
  background-color: #F88379;
  color: #000;
}

.btn-footer-pink:hover {
  background-color: #FFF;
  color: #000;
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 375px) {
  main {
    padding: 0rem;
  }

  th, td {
    padding: 0.5rem;
  }
}
